body {
  margin: 0;
  font-family: "Miriam Libre", sans-serif;
  background: #f1e9e3;
  color: #523a28;
}

/* Calendar Container */
.calendar-container {
  width: 90%;
  max-width: 1500px;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 60px;
  background: #8d7666;
  padding: 15px;
}

/* Book Covers */
.calendar-header {
  background: #523a28;
  text-align: center;
  margin-bottom: 10px;
}

.book-covers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: 360px;
}

.book-list {
  color: #000000;
  transform: rotate(-15deg);
  margin: 0 10px;
  font-size: 16px;
}

.list2 {
  transform: rotate(15deg);
}

.book-list span {
  color: #ffffff;
}

.book-covers h2 {
  font-family: "Miriam Mono CLM";
  color: #523a28;
  margin: 0 15px;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  background: #e1c7b3;
  padding: 3px 30px;
}

.book-covers h2 span {
  display: block;
  font-size: 21px;
  font-weight: bold;
}

/* Ring Binder */
.ring-binder-container {
  background: #f0f9fe;
}

.ring-binder {
  width: 100%;
}

/* Calendar Grid */
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  background: #3d2b1f;
  margin-top: 10px;
}

.day {
  background: #e1c7b3;
  color: #523a28;
  border: 1px solid #3d2b1f;
  text-align: right;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  min-height: 80px;
}

/* Calendar Footer */
.calendar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f9fe;
  height: 60px;
  margin-bottom: 60px;
}

.calendar-footer span {
  background: #523a28;
}

.calendar-footer button {
  background: none;
  border: none;
  color: #523a28;
  font-size: 150px;
  padding-bottom: 9px;
  cursor: pointer;
  margin: 0px 30px 42px 30px;
}

.calendar-footer button:hover {
  color: #f2d1a8;
}

#dateLabel {
  font-weight: bold;
  font-size: 30px;
  padding: 3px 45px;
}

/* Day Names Row */
.day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #3d2b1f;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.day-names div {
  padding: 10px;
  border: 1px solid #3d2b1f;
}

/* Calendar Grid */
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  background: #3d2b1f;
  margin-top: 0;
}

.day {
  background: #e1c7b3;
  border: 1px solid #3d2b1f;
  text-align: right;
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
  min-height: 80px;
}

/* Highlight today's date */
.today {
  background: #c04b62;
  color: #fff;
  border: 2px solid #fff;
}
