/* Highlight Bar */
.highlight {
  background: #573425;
  color: #f0f9fe;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 3px 750px 0px;
  padding: 3px 0px 3px 0px;
}

/* Main Section */
.purpose-content {
  background: #f1e9e3;
  font-family: "Miriam Mono CLM", monospace;
}

.card {
  font-family: "Miriam Mono CLM", monospace;
  background: #ffffff;
  color: #523a28;
  padding: 30px 40px 30px 0px;
  position: relative;
  width: 600px;
}

.card::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(-2.4deg);
  width: 90px;
  height: 24px;
  background: #e1c7b3;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.22);
}

.card h2 {
  font-size: 21px;
  text-align: right;
}
.card ul {
  list-style: none;
  line-height: 0;
  margin-top: -60px;
}
.card li {
  font-size: 16px;
  border-bottom: 1px solid #999;
  padding: 45px 3px 10px;
}
.card-left {
  margin-left: 3%;
  margin-top: 6%;
  transform: rotate(-3.6deg);
  box-shadow: 11px 0px 3px #faafce;
}
.card-right {
  margin-left: 63%;
  margin-top: -12%;
  transform: rotate(3.6deg);
  box-shadow: 11px 12px 3px #f85297;
}
.card-bottom {
  margin-left: 21%;
  margin-top: -12%;
  transform: rotate(3deg);
  margin-bottom: 60px;
  box-shadow: 11px 0px 3px #da5783;
}
.hours {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
}

.pencil2 {
  z-index: 1000;
  width: 270px;
  position: absolute;
  top: 51%;
  left: 3%;
}

.pencil3 {
  z-index: 1000;
  width: 240px;
  position: absolute;
  top: 48%;
  left: 52.6%;
}
